[Unit]
Description=Zabbix Server
Wants=postgresql.service
After=postgresql.service
After=postgresql-init.service
After=php-fpm.service

[Service]
Environment="CONFFILE=%SYSCONFDIR%/zabbix/zabbix-server.conf"
Environment="DB_ZABBIX_USER_SERVER=%DB_ZABBIX_USER_SERVER%"
Environment="DB_ZABBIX_PASSWORD=%DB_ZABBIX_PASSWORD%"
EnvironmentFile=-%SYSCONFDIR%/default/zabbix-server
Type=forking
KillMode=control-group
ExecStart=/bin/bash -c '%SBINDIR%/zabbix_server -c ${CONFFILE}'
ExecStop=/bin/sh -c '[ -n "$1" ] && kill -s TERM "$1"' -- "$MAINPID"
RestartSec=10s

[Install]
WantedBy=multi-user.target